<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DataStructuresFinal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3E27D0BA1CB1AC1800C7450C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E27D0D11CB1AC1900C7450C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E27D0DC1CB1AC1900C7450C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
